html, body {
    height: 100%;
    margin: 0;
}
#wrapper {
    min-height: 100%; 
    background-color: #cccccc;
}

.fondo {
    background-image: url('./assets/cultivosbg.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  